@page "/"
@inject Api Api
@inject WebsocketApi WebsocketApi
@inject NavigationManager Navigation
@inject HomeGridFilters GridFilters
@implements IAsyncDisposable

<SectionContent SectionName="top-bar">
    @{
        var queues = _queues.Count(x => x.MessageCountInDb > 0);
        var messages = _queues.Sum(x => x.MessageCountInDb);
    }
    
    <div>
        <div>
            @queues local queue@(queues == 1 ? "" : "s")
        </div>
        <div>
            @messages local message@(messages == 1 ? "" : "s")
        </div>
    </div>
</SectionContent>

<PageTitle>Queues</PageTitle>

<MudDataGrid @ref="_dataGrid" Items="@_queues" Dense="true" Hover="true" RowClick="@((DataGridRowClickEventArgs<QueueSummary> x) => OnRowClick(x))" 
             RowClass="cursor-pointer" 
             Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterRow" FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive">
    <Columns>
        <PropertyColumn @ref="_nameColumn" Property="x => x.Name" Title="Queue"
                        FilterOperators="@([FilterOperator.String.Contains, FilterOperator.String.NotContains, FilterOperator.String.Equal, FilterOperator.String.StartsWith, FilterOperator.String.EndsWith])">
            <CellTemplate>
                @context.Item.Name
                @if (context.Item.Exclusive)
                {
                    <MudChip T="string" Variant="Variant.Text" Size="Size.Small" Class="ml-2" Color="Color.Secondary">exclusive</MudChip>
                }
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn @ref="_messagesInRmqColumn" Property="x => x.MessageCountInRmq" Title="Message count in RMQ" 
                        FilterOperators="@([FilterOperator.Number.GreaterThanOrEqual, FilterOperator.Number.Equal, FilterOperator.Number.LessThanOrEqual])" />
        <PropertyColumn @ref="_messagesInDbColumn" Property="x => x.MessageCountInDb" Title="Message count in DB"
                        FilterOperators="@([FilterOperator.Number.GreaterThanOrEqual, FilterOperator.Number.Equal, FilterOperator.Number.LessThanOrEqual])">
            <CellTemplate>@(context.Item.MessageCountInDb > 0 ? context.Item.MessageCountInDb.ToString() : "")</CellTemplate>
        </PropertyColumn>
    </Columns>
</MudDataGrid>


@code
{
    public record HomeGridFilter(string PropertyName, string Operator, object Value);
    public record HomeGridFilters(List<HomeGridFilter> Filters);
    
    List<QueueSummary> _queues = [];
    MudDataGrid<QueueSummary> _dataGrid = null!;
    PropertyColumn<QueueSummary, string> _nameColumn = null!;
    PropertyColumn<QueueSummary, int> _messagesInRmqColumn = null!;
    PropertyColumn<QueueSummary, int> _messagesInDbColumn = null!;

    protected override async Task OnInitializedAsync()
    {
        _queues = await Api.GetQueueSummariesAsync();
        _queues.Sort((x, y) => String.Compare(x.Name, y.Name, StringComparison.Ordinal));

        await RestoreGridFilters();
        await StartWebsocket();
     
        Navigation.LocationChanged += OnLocationChanged;
    }

    async Task RestoreGridFilters()
    {
        foreach (var filter in GridFilters.Filters)
        {
            var filterDefinition = filter.PropertyName switch
            {
                nameof(QueueSummary.Name) => _nameColumn.FilterContext.FilterDefinition,
                nameof(QueueSummary.MessageCountInRmq) => _messagesInRmqColumn.FilterContext.FilterDefinition,
                nameof(QueueSummary.MessageCountInDb) => _messagesInDbColumn.FilterContext.FilterDefinition,
                _ => throw new ArgumentOutOfRangeException(nameof(filter.PropertyName))
            };
            
            filterDefinition!.Value = filter.Value;
            filterDefinition.Operator = filter.Operator;
            await _dataGrid.AddFilterAsync(filterDefinition);
        }
    }
    
    async Task StartWebsocket()
    {
        await WebsocketApi.StartAsync(async queueCounters =>
        {
            await InvokeAsync(() =>
            {
                // delete queues that were deleted on the server
                _queues.RemoveAll(x => !queueCounters.ContainsKey(x.Name));
                // update the counters for the other queues
                for (var index = 0; index < _queues.Count; index++)
                {
                    var queueSummary = _queues[index];
                    if (queueCounters.TryGetValue(queueSummary.Name, out var counter))
                        _queues[index] = queueSummary with { MessageCountInRmq = counter.Messages };
                }

                StateHasChanged();
            });
        });
    }

    void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        GridFilters.Filters.Clear();

        foreach (var filterDefinition in _dataGrid.FilterDefinitions)
        {
            if (filterDefinition.Operator != null)
                GridFilters.Filters.Add(new HomeGridFilter(filterDefinition.Column!.PropertyName, filterDefinition.Operator, filterDefinition.Value!));
        }
    }
    
    private void OnRowClick(DataGridRowClickEventArgs<QueueSummary> obj)
    {
        if (!obj.Item.Exclusive)
            Navigation.NavigateTo($"/{obj.Item.Name}");
    }

    public async ValueTask DisposeAsync()
    {
        Navigation.LocationChanged -= OnLocationChanged;
        await WebsocketApi.DisposeAsync();
    }
}
