@page "/{queueName}"
@using RmqToolsWeb.Dtos
@inject HttpClient Http

<SectionContent SectionName="top-bar">
    <MudStack Spacing="5" Row="true">
        <div>
            <div>@QueueName</div>
            <div>@($"{_messages.Count} messages")</div>
        </div>

        <div>
            <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" OnClick="LoadMessages">Load messages</MudButton>
        </div>
    </MudStack>
</SectionContent>

<PageTitle>@QueueName</PageTitle>

<MudDataGrid Items="@_messages" Dense="true" Hover="true" Loading="@_loading"
             Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterRow" FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive">
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="Id" />
        <TemplateColumn Title="Payload" >
            <CellTemplate>
                <pre>@context.Item.Payload</pre>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Message" PageSizeOptions="@(new []{100, 1000, 10000})" />
    </PagerContent>
</MudDataGrid>

@code {
    [Parameter]
    public string QueueName { get; set; }

    List<Message> _messages = [];
    bool _loading;
    
    protected override async Task OnInitializedAsync()
    {
        await LoadMessages();
    }

    async Task LoadMessages()
    {
        _loading = true;
        try
        {
            using var response = await Http.PostAsync($"/api/queue/load?queue_name={QueueName}", null);
            _messages = (await response.Content.ReadFromJsonAsync<LoadMessagesByQueueNameResponse>(MySourceGenerationContext.Default.LoadMessagesByQueueNameResponse))!.Messages;
        }
        finally
        {
            _loading = false;
        }
    }
}