@inherits LayoutComponentBase
@inject Api Api
@inject NavigationManager Navigation

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout Class="@_layoutClasses">
    <MudPaper Class="@_toolBarClasses" Elevation="1" Width="100%">
        <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Size="Size.Medium" OnClick="GoHome"/>
        <MudDivider Vertical="true" FlexItem="true" Class="ml-1"/>

        @if (_envInfo != null)
        {
            <div class="mx-5">
                <MudTooltip Text="@_envInfo.RmqConnectionInfo.Domain">
                    @(_envInfo.RmqConnectionInfo.ServerName ?? _envInfo.RmqConnectionInfo.Domain)
                </MudTooltip>
                <div>@_envInfo.RmqConnectionInfo.Vhost</div>
            </div>
        }
        <MudDivider Vertical="true" FlexItem="true" Class="mr-5"/>

        <SectionOutlet SectionName="top-bar"/>
    </MudPaper>

    <MudMainContent Class="pt-0 d-flex flex-column overflow-auto">
        @Body
    </MudMainContent>
</MudLayout>

@code{
    EnvInfo? _envInfo;
    string _layoutClasses = "d-flex flex-column ";
    string _toolBarClasses = "pa-1 ma-0 d-flex flex-row flex-wrap align-center ";

    protected override async Task OnInitializedAsync()
    {
        _envInfo = await Api.GetEnvInfoAsync();
        
        _layoutClasses += _envInfo.ImportanceLevel switch
        {
            2 => "rainbow rainbow-animate",
            _ => ""
        };
        
        _toolBarClasses += _envInfo.ImportanceLevel switch
        {
            1 or 2 => "toolbar-importance",
            _ => "default-toolbar"
        };
    }

    void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}
