@inherits LayoutComponentBase
@inject Api Api
@inject NavigationManager Navigation

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout Class="d-flex flex-column">
    <MudPaper Class="pa-1 ma-0 d-flex flex-row flex-wrap align-center" Elevation="1" Style="@($"background:{Colors.BlueGray.Lighten5};")" Width="100%">
        <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Size="Size.Medium" OnClick="GoHome"/>
        <MudDivider Vertical="true" FlexItem="true" Class="ml-1"/>

        @if (_rmqConnectionInfo != null)
        {
            <div class="mx-5">
                <MudTooltip Text="@_rmqConnectionInfo.Domain">
                    @(_rmqConnectionInfo.ServerName ?? _rmqConnectionInfo.Domain)
                </MudTooltip>
                <div>@_rmqConnectionInfo.Vhost</div>
            </div>
        }
        <MudDivider Vertical="true" FlexItem="true" Class="mr-5"/>

        <SectionOutlet SectionName="top-bar"/>
    </MudPaper>

    <MudMainContent Class="pt-0 d-flex flex-column overflow-auto">
        @Body
    </MudMainContent>
</MudLayout>

@code{
    RmqConnectionInfo? _rmqConnectionInfo;

    protected override async Task OnInitializedAsync()
    {
        _rmqConnectionInfo = await Api.GetRmqConnectionInfoAsync();
    }

    void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}
